<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <!-- gazebo arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <arg name="controller_number" default="0"/>


  <!-- Launch OSCAR in the table world-->
  <include file="$(find oscar_gazebo)/launch/table_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- Start controllers -->
  <include file="$(find oscar_control)/launch/oscar_control.launch">
    <arg name="controller_num" value="$(arg controller_number)"/>
  </include>

  <!-- Launch moveit -->
   <include file="$(find oscar_moveit_config)/launch/move_group.launch"/>


  <!-- Commanding Services -->
  <node name="oscar_command_server" pkg="oscar_common"
    type="oscar_command_services.py"/>








</launch>
