<?xml version="1.0" encoding="utf-8"?>


<!-- OSCAR: Open Source Cognitive Applied Robot -->
<!-- Author: Emanuel Fallas -->
<!-- Lab: LIANA https://www.tec.ac.cr/unidades/laboratorio-inteligencia-artificial-ciencias-naturales-liana -->


<robot name="oscar" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import OSCAR xacro -->
  <xacro:include filename="$(find oscar_description)/urdf/oscar.xacro"/>

  
  <xacro:oscar_robot />

  <xacro:property name="width" value="0.025" /> 
  <xacro:arg name="mass" default="0.001" />
  <xacro:arg name="load" default="false" />

  <xacro:macro name="generate_box" params="width mass arm" >
      <link name="load_${arm}">
      <!--
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${width} ${width}"/>
        </geometry>
      </collision>
      -->

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${width} ${width}"/>
        </geometry>
      </visual>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia
          ixx="${mass / 12.0 * (width*width + width*width)}" ixy="0.0" ixz="0.0"
          iyy="${mass / 12.0 * (width*width + width*width)}" iyz="0.0"
          izz="${mass / 12.0 * (width*width + width*width)}" />
      </inertial>
    </link>

    <joint name="${arm}_load_to_arm" type="fixed">
        <parent link="${arm}_arm_gripper_link"/>
        <child link="load_${arm}"/>
    </joint>  
  </xacro:macro>


  <xacro:if value="$(arg load)">
    <xacro:generate_box width="${width}" mass="$(arg mass)" arm="right"/>
    <xacro:generate_box width="${width}" mass="$(arg mass)" arm="left"/>
  </xacro:if>




</robot>
