<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was partially created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->


<!-- OSCAR: Open Source Cognitive Applied Robot -->
<!-- Author: Emanuel Fallas -->
<!-- Lab: LIANA https://www.tec.ac.cr/unidades/laboratorio-inteligencia-artificial-ciencias-naturales-liana -->


<robot
  name="oscar" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import Gazebo plugins -->
  <xacro:include filename="$(find oscar_description)/urdf/oscar.gazebo"/>

  <!-- Load Thor robotic arm xacro file -->
  <xacro:include filename="$(find thor_description)/urdf/thor_description.urdf.xacro"/>
  

  <link name="world" /> 
  <joint name="base_to_world" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>  

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0007415 -6.6609E-17 0.53453"
        rpy="0 0 0" />
      <mass
        value="22.41" />
      <inertia
        ixx="1.9751"
        ixy="-6.2222E-17"
        ixz="-0.0047359"
        iyy="1.508"
        iyz="-6.0087E-16"
        izz="0.62031" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://oscar_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://oscar_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>



  <!-- Left arm xacro call and joint -->
  <xacro:thor_robot prefix="left_arm_"/>
  <joint
    name="left_arm_fixed"
    type="fixed">
    <origin
      xyz="0 0.25 0.7"
      rpy="0 0 0" />
    <parent
      link="world" />
    <child
      link="left_arm_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- Right arm xacro call and joint -->
  <xacro:thor_robot prefix="right_arm_"/>

  <joint
    name="right_arm_fixed"
    type="fixed">
    <origin
      xyz="0 -0.25 0.7"
      rpy="0 0 0" />
    <parent
      link="world" />
    <child
      link="right_arm_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  

  <!-- depth camera -->  
  <link
    name="depth_camera_link">
    <inertial>
      <origin
        xyz="-0.013049 0.00024617 -6.059E-05"
        rpy="0 0 0" />
      <mass
        value="0.044752" />
      <inertia
        ixx="2.7277E-05"
        ixy="2.4434E-07"
        ixz="-1.1786E-09"
        iyy="3.9447E-06"
        iyz="-2.818E-09"
        izz="2.7362E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://oscar_description/meshes/depth_camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://oscar_description/meshes/depth_camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="depth_camera_fixed"
    type="fixed">
    <origin
      xyz="0.092973 0 1.303"
      rpy="0 1.0734 0" />
    <parent
      link="base_link" />
    <child
      link="depth_camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  
  
  <link name="depth_optical_frame" /> 
  <joint name="depth_camera_frame_fixed" type="fixed">
    <parent link="depth_camera_link"/>
    <child link="depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>  

  


  <link
    name="rgb_camera_link">
    <inertial>
      <origin
        xyz="-0.0061932 -8.2211E-05 4.4544E-05"
        rpy="0 0 0" />
      <mass
        value="0.0011575" />
      <inertia
        ixx="6.7691E-08"
        ixy="-3.6041E-11"
        ixz="-2.5249E-13"
        iyy="3.9729E-08"
        iyz="1.6534E-13"
        izz="2.8883E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://oscar_description/meshes/rgb_camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://oscar_description/meshes/rgb_camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rgb_camera_link"
    type="fixed">
    <origin
      xyz="0.42501 0 2.03"
      rpy="0 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="rgb_camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>





</robot>
