<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="oscar_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="left_arm_Art1_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_Art1_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_arm_Art2_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_Art2_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_arm_Art3_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_Art3_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_arm_Art4_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_Art4_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_arm_Art5_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_Art5_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_arm_Art6_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_Art6_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_arm_Art1_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_Art1_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_arm_Art2_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_Art2_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_arm_Art3_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_Art3_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_arm_Art4_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_Art4_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_arm_Art5_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_Art5_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_arm_Art6_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_Art6_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
