<?xml version="1.0"?>

<model>
  <name>object</name>
  <version>1.0</version>
  <sdf version="1.5">object.sdf</sdf>

  <author>
    <name>Emanuel Fallas</name>
    <email>efallashdez@gmail.com</email>
  </author>

  <author>
    <name>Emanuel Fallas</name>
  </author>

  <description></description>
</model>
